body{
   background-image: url(immagini/background.jpg);
   background-size: cover;
}

.contenitore{
    background-color: #00000070; 
    width: 1000px;
    padding: 50px;
    border-radius: 10px;
    margin: 10px 50px 25px 50px;
    background-position: center;
}

header{
    text-align: center;
}

header > h1{
    font-family: sans-serif;
    color: rgb(22, 221, 22);
}

.Logo{
    width: 250px;
}

.bottone{
    background-color: rgb(22, 221, 22);
    margin-left: 4%;
    margin-right: 4%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.mono{
    font-family: sans-serif;
    color:white;
    margin: 4%;    
}

.scarica{
    width: 300px;
    height: 30px;
    background-color: orange;
    border-radius: 10px;
}

#Batteria{
    width: 500px;
    height: 30px;
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
}

.carica{
    width: 150px;
    height: 30px;
    background-color:red;
    border-radius: 10px;
}

div > h2{
    display: inline-block;
}

p:before{
    content: '\21A6';
}


    